<ion-view view-title="Random List">
  <ion-content>    
    <button class="button button-block button-positive" ng-click="returnRandomMember()">
      Click here to find the Sami team Member
    </button>
        
    <div class="list">
          <a class="item item-thumbnail-left" ng-repeat="member in teamMembers" ng-class="{'activeList': member.active}">
            <img ng-src="{{member.imgSrc}}">
            <h2>{{member.name}}</h2>
            <p>{{member.city}}</p>
          </a>
    </div>
  </ion-content>  
 </ion-view>
