/* Empty. Add your own CSS if you like */
.side-menu-headline-color{
    background-color: yellow;
}
.coin-size{
    width: 30%;
    height: 30%;
    margin-left: 35%;
    margin-top: 10%;
}
.activeList{
  background: red;
}